<h1>{{ title }}</h1>

<mat-form-field class="priority-filter">
    <mat-select placeholder="Filter by priority" (selectionChange)="onSelectionChange($event, 'priority')">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let option of priorities"
                    class="text-capitalize" value="{{ option }}">{{ option }}</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field class="tag-filter">
    <mat-select placeholder="Filter by ..." (selectionChange)="onSelectionChange($event, 'filter')">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let option of filters"
                    class="text-capitalize" value="{{ option }}">{{ option }}</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field class="value-filter">
    <input matInput placeholder="Enter value ..." #filterValue>
</mat-form-field>


<div class="patient-container">
    <ctb-patient
        *ngFor="let patient of patients | filter : 'priority' : optionSelected['priority'] | filter : optionSelected['filter'] : filterValue.value"
        class="patient"
        ctb-priority [priority]="patient.priority"
        [patient]="patient" (update)="onUpdate($event)" (delete)="onDelete($event)"></ctb-patient>

</div>